/* for phone */
@media(max-width: 550px){

    #laptop-header{
        display: none;
    }

    #phone-header{
        display: flex;
        box-shadow: 0 5px 50px var(--primary-color);
    }

    .navIconClicked{

    }
    .navIconNotClicked{
        
    }
    .navSectionExist{
        position: fixed;
        z-index: 800;
        bottom: 0;
        height: 0;
        background-color:  rgba(7, 215, 7, 0.177);
        margin: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        /* padding-top: calc(var(--header-height) * 2); */
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;
    }
    .navSectionExist a{
        z-index: 800;
        margin: 15px 0;
        font-size: var(--double-size);
        font-weight: var(--bold);
        text-decoration: none;
        color: var(--white);
        opacity: 1;
    }
    .navSectionExist a:hover{
        color: rgb(0, 0, 0);
    }
    .navSectionExist{
        height: 100vh;
    }
    .navSectionNotExist{
        position: fixed;
        z-index: 800;
        bottom: 0;
        background-color:  rgba(7, 215, 7, 0.177);
        width: 100%;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;
        height: 0;
        transition: 0.3s ease;
    } 
    .navSectionNotExist a{
        display: none;
        z-index: 800;
    } 

    :root{
        --primary-size: 20px;
    }

    header #tittle{
        font-size: var(--primary-size);
    }

    #presentation-section #background-img{
        background-image: url(../../images/profileForPhone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        opacity: 0.7;
    }
    
    #presentation-section #container{
        background-color: rgba(7, 241, 7, 0.067);
    }

    #presentation-section p{
        max-width: 80%;
    }

    #Contact-section #message-bar{
        width: 85%;
    }
    #Contact-section #message-bar:focus-within {
        width: 95%;
    }
    #Contact-section #talk-by-detail i{
        padding: 20px;
        margin: 5px;
        font-size: var(--primary-size);
    }

    #copyrights-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 5px;
        background-color: var(--primary-color-demi-transparent);
        border-radius: 50px 50px 0 0;
        /* padding: 10px 0; */
    }
    #copyrights-bar h4{
        margin: 5px;
        /* margin-bottom: 10px; */
    }
    h4{
        margin: 0;
    }
    #copyrights-bar h4 span{
        color: rgb(0, 170, 0);
    }
    #copyrights-bar .social-media i{
        margin: 5px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #copyrights-bar .social-media i:hover{
        color: var(--primary-color);
    }

}

@media ( min-width: 550px ) and ( max-width: 650px ){

    #presentation-section #background-img{
        background-image: url(../../images/profileForPhone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right right;
        background-attachment: fixed;
    }

    #presentation-section #container{
        background-color: rgba(7, 241, 7, 0.067);
    } 
    
    #presentation-section p{
        max-width: 80%;
    }
}

@media ( min-width: 650px ) and ( max-width: 1100px ){

    #presentation-section #background-img{
        background-image: url(../../images/profile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right right;
        background-attachment: fixed;
    }

    #presentation-section #container{
        background-color: rgba(7, 241, 7, 0.067);
    }
    
    #presentation-section p{
        max-width: 80%;
    }

}